body {
    margin: 0;
    padding: 0;
}

 #board {
    display: grid;
    grid-template-columns: repeat(8, 1fr 1fr);
    grid-template-rows: repeat(8, 1fr 1fr);
    width: 500px;
    height: 500px;
    
}

/* .bird:hover {
    background-color: black;
    border-style: dashed;
} */

/*  #container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 560px;
    height: 560px;
 } */

 .color {
    background-color: red;
 }