body {
    margin: 0;
    padding: 0;
    background-color:blueviolet;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
 #board {
    display: grid;
    grid-template-columns: repeat(8, 1fr 1fr);
    grid-template-rows: repeat(8, 1fr 1fr);
    width: 700px;
    height: 600px;
    background-color: white; 
}

 .color {
    background-color: red;
 }


 .clear {
    background-color: white;
 }
